@{
    ViewData["Title"] = "Create";
}

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div style="width :500px;margin-left : 100px;">
    <h2>Create</h2>
    <form method="post" action="Create">
        <div class="form-group">
            <label class=" col-sm-2" name="MaLop">Mã Lớp</label>
            <div class="col-sm-10">
                <input name="MaLop" class="form-control" >
            </div>
        </div><br/><br/>
        <div class="form-group">
            <label class=" col-sm-2" name="TenLop">Tên Lớp</label>
            <div class="col-sm-10">          
                <input name="TenLop" class="form-control">
            </div>
        </div><br/><br/>
        <div class="form-group">
            <label class=" col-sm-2"name="MaSV">Mã Sinh Viên</label>
            <div class="col-sm-10">
                <input name="MaSV" class="form-control" >
            </div>
        </div><br/><br/><br/>
        <div class="form-group">
            <label class=" col-sm-2" name="HoTen">Họ Tên</label>
            <div class="col-sm-10">
                <input name="HoTen" class="form-control" >
            </div>
        </div><br/><br/><br/>
        <div class="form-group">        
            <div class=" col-sm-10">
                <button type="submit" class="btn btn-success" value="">Create</button>
            </div>
        </div>
    </form>
</div>

</body>
